.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.keyboard__row {
  display: flex;
  justify-content: center;
  gap: 4px;
  width: 100%;
}

.keyboard__key {
  background-color: var(--color-gray-dark);
  color: var(--color-white);
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  outline: none;
  min-height: 50px;
  padding: 0px 8px;
}

.keyboard__key:hover {
  background-color: var(--color-gray-light);
}

@media (min-width: 480px) {
  .keyboard {
    gap: 8px;
    margin-top: 3rem;
  }

  .keyboard__row {
    gap: 6px;
  }

  .keyboard__key {
    padding: 0px 16px;
    font-size: 1rem;
    min-height: 58px;
  }
}
