.container {
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 100%;
  padding: 1rem 0.25rem;
}

.container button,
.unwrapped {
  margin: 0;
  width: 100%;
  background-color: var(--color-gray-dark);
  color: var(--color-white);
  border-radius: 8px;
  height: 40px;
  border: none;
  outline: none;
  font-weight: 600;
  user-select: none;
  cursor: pointer;
}

.container button:disabled,
.unwrapped:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.container button:hover:not(:disabled),
.container button:focus:not(:disabled),
.unwrapped:hover:not(:disabled),
.unwrapped:focus:not(:disabled) {
  background-color: var(--color-gray-light);
}

@media (max-width: 375px) {
  .container button:not(:disabled),
  .unwrapped {
    width: calc(100dvw - 1rem);
  }
}

.loader {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--color-gray-light);
  border-top-color: var(--color-gray-dark);
  border-radius: 50%;
  margin-left: 0.7rem;
  margin-bottom: -2px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
