.game__board__row__cell {
  width: var(--layout-board-cell-width);
  height: var(--layout-board-cell-height);
  border: 2px solid var(--color-gray-dark);
  border-radius: var(--layout-board-cell-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 375px) {
  .game__board__row__cell {
    width: auto;
    aspect-ratio: 1;
    height: auto;
    min-width: 40px;
    min-height: 40px;
  }
}
